body{
    margin: 0;
    padding: 0;
}

.content{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 15vh 85vh;
    padding: 0;
}

.sidebar{
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    background-color: green;
    padding-left: 2rem;
    padding-top: 1rem;
}

.header{
    background-color: white;
}

.main{
    background-color: red;
}